@font-face {
  font-family: 'PressStart2p';
  src: url('/public/pressstart.ttf');
}

html, body {
  background: white;
  color: black;
  height: 100%;
  font-family: 'PressStart2p';
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

#myCanvas {
  width: 100%;
  background: #000000;
}

footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

footer a {
  color: black;
  text-decoration: none;
}